* {
    box-sizing: border-box;
}
.encabezado {
    background-image: url("../imagen/contacto.jpg");
    background-size: 100% 100%;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
   height: 300px;   
}
.tamanio {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.flex-container {
    align-items: stretch;    
    display: flex;
    justify-content: space-between;
 }
 nav {
     margin-top: -15px;
 }

.titulo {
    margin-top: 170px;
}
.fuente-titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 5rem !important;
}
.row {
    background-color: #f1f1f1;
    margin: 0;
    padding: 15px;
}
.text {
    color:rgb(80, 78, 78);
    margin-top: 10px;
    text-align: center;
}
.titulo-span{
    font-size: x-large;
    font-weight: bold;
}
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;
}
